<div class="product-wrapper">
<div class="user_name">
<% if user_signed_in? %>
 <p><%= "#{current_user.name}さんがログイン中です" %> </p>
<% end %>
</div>
  <h2 class='title'>Cordingアイテム一覧</h2>
    <ul class='product-lists'>
      <% @products.each do |product|%>
      <li class='list'>
        <%= link_to product_path(product.id) do %>
        <div class='product-img-content'>
          <%= image_tag product.image, class: "product-img" %>

          <% if product.purchase.present? %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>

        </div>
        <div class='product-info'>
          <h3 class='product-name'>
            <%= product.title %>
          </h3>
          <div class='product-price'>
            <span><%= product.fee %>円<br><%= item.fee.name %></span>
          </div>
        </div>
        <% end %>
      </li>
      <% end%>
</div>

