<!DOCTYPE html>
<html>
  <head>
    <title>AmazonSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/5a7478c47d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <%= javascript_pack_tag 'application' %>
    <%# <script src="../../javascript/product.js"></script> %>
    
  </head>

  <body>
  <header class="header">
   
    <div class="header-nav">
      <i class="fa-solid fa-bars" id="lists"></i>
      <%= link_to "Cording.co.jp", root_path,class:"root" %>
    <% if admin_signed_in? %>
      <%= link_to "管理者ログアウト", destroy_admin_session_path, class:"logout", method: :delete %>
    <% else %>
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, class:"logout", method: :delete %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path,class:"login" %>
      <%= link_to "新規登録", new_user_registration_path,class:"signup" %>
      <%= link_to "管理者ログイン", new_admin_session_path, class: "login" %>
    <% end %>
    <% end %>
    </div>
  </header>
    <div id="wrapper_list" class="wrapper">
  <div class="show-wrapper">
    <p class="show-cording">
    閲覧する</br>
    Cording
    </p>
    <%= link_to "サインイン", root_path, class: "signin" %>
  </div>
  <div class="wrapper-lists">
    <%= link_to "Cordingのホーム", root_path, class: "show-home" %>
    <ul class="show-lists">
      <li>人気・新着の商品</li>
      <li>ランキング</li>
      <li>新着商品</li>
      <li>人気度ランキング</li>
    </ul>
    <ul class="show-lists">
      <li>トップカテゴリー</li>
      <li>ドラッグストア</li>
      <li>本</li>
      <li>パソコン</li>
    </ul>
    <ul class="show-lists">
      <li>プログラムと特典</li>
      <li>タイムセール</li>
      <li>プライムを試す</li>
      <li>Cordingランキング</li>
    </ul>
  </div>
</div>
    <%= yield %>
  </body>
</html>
